In [20]:
# Import the necessary dependencies
import pandas as pd

In [21]:
# Read in the data as a DataFrame
# Provide the dataset over AWS S3 bucket. It's ~100 MB.
delayed_flights_url = "https://static.bc-edx.com/ai/ail-v-1-0/m5/lesson_2/delayed_flights.csv"
delayed_flights_df = pd.read_csv(delayed_flights_url)
delayed_flights_df = delayed_flights_df.round(2)
delayed_flights_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211.0,2225,WN,335,...,4.0,8,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002.0,1000,WN,3231,...,5.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804.0,750,WN,448,...,3.0,17,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829,1755,1959.0,1925,WN,3920,...,3.0,10,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940,1915,2121.0,2110,WN,378,...,4.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN

In [22]:
# Get the columns
delayed_flights_df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [23]:
# Create a custom function that will calculate of a column from the DataFrame.
def calc_av(x):
  return x.mean().round(2)

# Create a custom function that returns the total of the items.
def calc_count(x):
  return x.count().round(2)

In [24]:
# Show the average time for delayed arrivals (ArrDelay) grouped by each airline carrier.
# Pass the 'ArrDelay' column to the custom function.
# Name the new column "Avg_ArrDelay".
avg_ar_delay = delayed_flights_df.groupby(['UniqueCarrier']).agg(
  Avg_ArrDelay = ('ArrDelay', calc_av)
)
avg_ar_delay.sample(n=3)

               Avg_ArrDelay
UniqueCarrier
EV                    43.74
UA                    49.29
F9                    26.11

In [25]:
# Use the custom function you created to calculate the average for a DataFrame column and
# show the average time for delayed arrivals and departures for each carrier.
av_delay = delayed_flights_df.groupby(['UniqueCarrier']).agg(
  Avg_ArrDelay = ('ArrDelay', calc_av),
  Avg_DepDelay = ('DepDelay', calc_av)
)
av_delay

               Avg_ArrDelay  Avg_DepDelay
UniqueCarrier
9E                    48.00         48.39
AA                    47.79         46.84
AQ                    21.26         26.68
AS                    36.11         38.89
B6                    49.46         50.69
CO                    38.93         41.11
DL                    38.03         37.73
EV                    43.74         45.39
F9                    26.11         25.63
FL                    42.62         41.08
HA                    33.81         34.00
MQ                    47.35         45.00
NW                    45.91         41.71
OH                    48.05         46.26
OO                    46.40         45.18
UA                    49.29         50.32
US                    35.11         38.56
WN                    30.13         34.08
XE                    49.52         49.28
YV                    58.52         58.29

In [26]:
# Use the two custom functions you created and show the total number of flights 
# and the average number of flights that were diverted for each flight origin and destination.
diversions = delayed_flights_df.agg(
  total = ('Diverted', calc_count),
  average = ('Diverted', calc_av)
)
# Sort the results in descending order on the new columns, and display the top 25 results.
diversions.head(25)

          Diverted
total    1048575.0
average        0.0

In [27]:
# Create two more custom functions.
# The first one returns the number of items.


# The second one calculates the percentage.

In [28]:
# Show the total number of diverted flights, the total flights, 
# and the percentage of diverted flights for each carrier by day of the week.


# Display the top 25 rows.